In [3]:
using RDatasets
using CSV

In [2]:
anscombe = dataset("datasets", "anscombe")

11×8 DataFrame
 Row │ X1     X2     X3     X4     Y1       Y2       Y3       Y4
     │ Int64  Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────
   1 │    10     10     10      8     8.04     9.14     7.46     6.58
   2 │     8      8      8      8     6.95     8.14     6.77     5.76
   3 │    13     13     13      8     7.58     8.74    12.74     7.71
   4 │     9      9      9      8     8.81     8.77     7.11     8.84
   5 │    11     11     11      8     8.33     9.26     7.81     8.47
   6 │    14     14     14      8     9.96     8.1      8.84     7.04
   7 │     6      6      6      8     7.24     6.13     6.08     5.25
   8 │     4      4      4     19     4.26     3.1      5.39    12.5
   9 │    12     12     12      8    10.84     9.13     8.15     5.56
  10 │     7      7      7      8     4.82     7.26     6.42     7.91
  11 │     5      5      5      8     5.68     4.74     5.73     6.89

In [13]:
CSV.write("data/anscombe.csv", anscombe)

"data/anscombe.csv"

In [17]:
dftmp = anscombe
dftmp.number = string.(1:11)
dftmp

11×9 DataFrame
 Row │ X1     X2     X3     X4     Y1       Y2       Y3       Y4       number
     │ Int64  Int64  Int64  Int64  Float64  Float64  Float64  Float64  String
─────┼────────────────────────────────────────────────────────────────────────
   1 │    10     10     10      8     8.04     9.14     7.46     6.58  1
   2 │     8      8      8      8     6.95     8.14     6.77     5.76  2
   3 │    13     13     13      8     7.58     8.74    12.74     7.71  3
   4 │     9      9      9      8     8.81     8.77     7.11     8.84  4
   5 │    11     11     11      8     8.33     9.26     7.81     8.47  5
   6 │    14     14     14      8     9.96     8.1      8.84     7.04  6
   7 │     6      6      6      8     7.24     6.13     6.08     5.25  7
   8 │     4      4      4     19     4.26     3.1      5.39    12.5   8
   9 │    12     12     12      8    10.84     9.13     8.15     5.56  9
  10 │     7      7      7      8     4.82     7.26     6.42     7.91  10
  11 │     5      5      5      8     5.68     4.74     5.73     6.89  11

In [21]:
df = permutedims(dftmp, "number", "name")

8×12 DataFrame
 Row │ name    1        2        3        4        5        6        7         ⋯
     │ String  Float64  Float64  Float64  Float64  Float64  Float64  Float64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ X1        10.0      8.0     13.0      9.0     11.0     14.0      6.0    ⋯
   2 │ X2        10.0      8.0     13.0      9.0     11.0     14.0      6.0
   3 │ X3        10.0      8.0     13.0      9.0     11.0     14.0      6.0
   4 │ X4         8.0      8.0      8.0      8.0      8.0      8.0      8.0
   5 │ Y1         8.04     6.95     7.58     8.81     8.33     9.96     7.24   ⋯
   6 │ Y2         9.14     8.14     8.74     8.77     9.26     8.1      6.13
   7 │ Y3         7.46     6.77    12.74     7.11     7.81     8.84     6.08
   8 │ Y4         6.58     5.76     7.71     8.84     8.47     7.04     5.25
                                                               4 columns omitted

In [20]:
CSV.write("data/anscombe_transposed.csv", df)

"data/anscombe_transposed.csv"